<!DOCTYPE html>
<html>
<head>
	<title>Ingrese el codigo</title>
	<link rel="stylesheet" type="text/css" href="../styles/index.css">
</head>
<body>
	<div class="container">
		<h1>Ingrese el codigo</h1>
        <h3 id="enviado_a"></h3>
        <h4 id="h4_creacion"></h4>
		<form >
			<h3 id="mensaje"></h3>
			<label for="username">Codigo</label>
			<input type="text" id="codigo" name="username" required>
			<label for="">¿No ha recibido el mail?</label>
			<button class="btn-verificar" id="volverEnviar" >Volver a enviar</button>
			<br>
			<button class="btn-verificar" type="button" id="Verificar" value="Verificar">Verificar</button>

		</form>
	</div>
    <script src="../scripts/codigo.js"></script>
</body>
</html>