<!DOCTYPE html>
<html>
<head>
	<title>Crear cuenta</title>
	<link rel="stylesheet" type="text/css" href="../styles/index.css">
</head>
<body>
	<div class="container">
		<h1>Ingrease el codigo</h1>
        <h3 id="enviado_a"></h3>
        <h4 id="h4_creacion"></h4>
		<form >
			<h3 id="mensaje"></h3>
			<label for="username">Codigo</label>
			<input type="text" id="codigo" name="username" required>
			<input type="" id="Verificar" value="Verificar">

		</form>
	</div>
    <script src="../scripts/codigo.js"></script>
</body>
</html>