<!DOCTYPE html>
<html>
<head>
	<link rel="shortcut icon" href="../assets/favicon-16x16.png" type="image/x-icon">
	<title>Crear cuenta</title>
	<link rel="stylesheet" type="text/css" href="../styles/index.css">
	<link rel="stylesheet" type="text/css" href="../styles/loader.css">
</head>
<body>
	<div class="container">
		<div style="justify-content: center; align-items: center; text-align: center; height: fit;">
			<img src="../assets/Icono.png" alt="">
		</div>
		<h1>Crea tu cuenta</h1>
		<div id="loaderCont" class="loader"></div>
		<form >
			<h3 id="mensaje"></h3>
			<label for="username">Email:</label>
			<input type="text" id="usuario" name="username" required>
			<label for="password">Contraseña:</label>
			<input type="password" id="contrasena" name="password" required>
			
			<button type="button" class="btni" id="boton_submit" value="Crear">
			<a href="../index.html">Crear</a>
		</form>
		
	</div>
  <script src="../scripts/crear_cuenta.js"></script>
</body>
</html>