<!DOCTYPE html>
<html>
<head>
	<title>Crear cuenta</title>
	<link rel="stylesheet" type="text/css" href="../styles/index.css">
</head>
<body>
	<div class="container">
		<h1>Crea tu cuenta</h1>
		<form >
			<h3 id="mensaje"></h3>
			<label for="username">Email:</label>
			<input type="text" id="usuario" name="username" required>
			<label for="password">Contraseña:</label>
			<input type="password" id="contrasena" name="password" required>
			
			<div id="formulario"></div>
			<button type="button" class="btni" id="boton_submit" value="Crear">
      <br>
      <a href="../index.html">Crear</a>
		</form>
	</div>
  <script src="../scripts/crear_cuenta.js"></script>
</body>
</html>