<!DOCTYPE html>
<html>
<head>
	<title>Crear cuenta</title>
	<link rel="stylesheet" type="text/css" href="../styles/index.css">
</head>
<body>
	<div class="container">
		<h1>Bienvenido</h1>
		<form>
			<label for="username">usuario:</label>
			<input type="text" id="usuario" name="username" required>

			<label for="password">contraseña:</label>
			<input type="password" id="contraseña" name="password" required>

			<input type="submit" id="boton_submit" value="Crear">
      <br>
      <a href="../index.html">Tengo una cuenta</a>
		</form>
	</div>
  <script src="../scripts/crear_cuenta.js"></script>
</body>
</html>