<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">    <title>Todas tus notas</title>
    <link rel="stylesheet" href="../styles/dashboard.css">
    <link rel="stylesheet" href="../styles/hover.css">
    <link rel="stylesheet" href="../styles/VM_editar.css">
    <link rel="stylesheet" href="../dist/remodal.css">
    <link rel="stylesheet" href="../dist/remodal-default-theme.css">
    <link rel="stylesheet" href="../styles/modal_borrar.css">
</head>
<body>
    <header>
        <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-xs-4" id="cont_titulo">
                <button id="btn_CerrarSesion" type="button" class="btn btn-danger"><a href="../index.html">Cerrar sesion</a></button>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-xs-4" id="cont_titulo">
                <h1 id="titulo">Tus notas</h1>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-xs-4" id="cont_titulo">
                <button id="btn_add" type="button" ></button>
                <button id="abrirModal" class="hvr-bounce-to-right">+</button>

            </div>
        </div>
        
   
    </header>
    <main>
        <div id="task_container2" class="container">
            <div id="task_container" class="row">
              
            </div>
        </div>
        

      
        <!-- Ventana modal, por defecto no visible -->
        <div id="ventanaModal" class="modal">
          <div class="contenido-modal">
              <span class="cerrar">&times;</span>
              <h4>Crear tarea</h4>
              <br>
              <div class="input-group mb-3">
                <div id="cont_ventana_modal" class="container">
                    <br>
                    <input id="nombre_VM" type="text" class="form-control" placeholder="Nombre" aria-label="Username">
                    <br>
                    <input id="descripcion_VM" type="text" class="form-control" placeholder="Descripcion" aria-label="Server">
                    <br>
                    <select id="importancia_VM" class="form-select" aria-label="Default select example">
                        <option selected>Importancia</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="3">4</option>
                        <option value="3">5</option>
                    </select>
                    <br>
                    <input id="btn_VM" class="btn btn-primary" type="submit" value="Submit">
                </div>
                
              </div>
          </div>
        </div>

        <!-- Ventana modal Editar -->
        <div id="ventanaModalEditar" class="modal">
            <div class="contenido-modalEditar">
                <span class="cerrarEditar">&times;</span>
                <h4>Editar tarea</h4>
                <br>
                <div class="input-group mb-3">
                  <div id="cont_ventana_modalEditar" class="container">
                      <br>
                      <input id="nombre_VM" type="text" class="form-control" placeholder="Nombre" aria-label="Username">
                      <br>
                      <input id="descripcion_VM" type="text" class="form-control" placeholder="Descripcion" aria-label="Server">
                      <br>
                      <select id="importancia_VM" class="form-select" aria-label="Default select example">
                          <option selected>Importancia</option>
                          <option value="1">1</option>
                          <option value="2">2</option>
                          <option value="3">3</option>
                          <option value="3">4</option>
                          <option value="3">5</option>
                      </select>
                      <br>
                      <input id="btn_VMEditar" class="btn btn-primary" type="submit" value="Submit">
                  </div>
                  
                </div>
            </div>
          </div>
          <!-- Ventana modal Borrar -->
          <button class="modal_malo" id="btnModal">Abrir modal</button> 
          <div id="myModal" class="modalContainer">
           <div class="modal-content">
           <span class="close">×</span> <h2>Modal</h2>
            <h3>Esta seguro que desea eliminar esta tarea</h3>
            <br>
            <button class="btn btn-danger">ELIMINAR</button>

        </div> 
    </main>
    <footer>

    </footer>
    <script src="../scripts/dashboard.js"></script>
    <script src="../scripts/Ventana_modal.js"></script>
    <script>
        async function Editar_Tarea_Redireccion(id) {
            localStorage.setItem("tarea_editandose",id);
            setTimeout(()=>{
                window.location.href = "./editar_tareas.html" 
                
            },500)
                }

    </script>
    <script>
        if(document.getElementById("btnModal")){
    var modal = document.getElementById("myModal");
    var btn = document.getElementById("btnModal");
    var span = document.getElementsByClassName("close")[0];
    var body = document.getElementsByTagName("body")[0];

    function btn_borrar() {
        modal.style.display = "block";

        body.style.position = "static";
        body.style.height = "100%";
        body.style.overflow = "hidden";
    }

    span.onclick = function() {
        modal.style.display = "none";

        body.style.position = "inherit";
        body.style.height = "auto";
        body.style.overflow = "visible";
    }

    window.onclick = function(event) {
        if (event.target == modal) {
            modal.style.display = "none";

            body.style.position = "inherit";
            body.style.height = "auto";
            body.style.overflow = "visible";
        }
    }
}
    </script>
</body>
</html>