<!DOCTYPE html>
<html>
<head>
	<link rel="shortcut icon" href="../assets/favicon-16x16.png" type="image/x-icon">
  <title>Edita tus tareas</title>
  <link rel="stylesheet" href="../styles/editar_tarea.css">
  <link rel="stylesheet" href="../styles/loader.css">
</head>
<body>
  <div id="EditForm" class="container">
    <h1>Edita esta tarea</h1>
    <div id="loaderCont" class="loader">
		</div>
    <form>
      <div class="form-group">
        <label for="textarea1">Titulo</label>
        <textarea id="titulo" rows="4" placeholder="titulo"></textarea>
      </div>
      
      <div class="form-group">
        <label for="textarea2">Descripcion</label>
        <textarea id="descripcion" rows="4" placeholder="Descripcion"></textarea>
      </div>
      
      <div class="form-group">
        <label for="textarea3">Importancia</label>
        <select name="" id="Importancia">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>

        </select>
    </div>
      
    
      
      <button id="btn_editar" type="">Editar</button>
      <br>
      <a style="width: 100%;" href="./Dashboard.html">
        <button id="btn-danger" type="button" style="width: 100%;" >Volver al dashboard</button>
      </a>
    </form>
  </div>
  <script src="../scripts/Editar_Tareas.js"></script>
</body>
</html>
