<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/index.css">
    <title>Recuperar contraseña</title>
</head>
<body>
<header>

</header>
    <main>
        <div id="contRecuperar" class="container text-center">
            <h1>Recuperar contraseña</h1>
            <form>
                <h3 id="mensaje"></h3>
                <label for="usuario">Email:</label>
                <input type="text" id="usuario" name="username" required>
                <input type="button" id="boton_submit" value="Recuperar contraseña">
            </form>
        <br>
        <a href="../index.html">Volver al inicio de sesion</a>
        </div>
    </main>
    <footer>
        
    </footer>
    <script src="../scripts/recuperarContraseña.js"></script>
</body>
</html>