body{
	margin:0;
	/* color:#6a6f8c; */
	background-color:#DDFFF7;
	font:600 16px/18px 'Open Sans',sans-serif;
}

a{color:inherit;text-decoration:none}

.container{
    width: 100%;
    height: 1048px;
    background:rgba(177, 180, 187, 0.9);
    
}
#task_container2{
    background-color:#7ec4cf;
    height: fit-content;

}
.add{
    width: 70px;
    height: 70px;
    border-radius: 70px;
    font-size: 30px;
}

#prueba{
    display: flex;
    flex-direction: row;
    gap: 70vw;
}
#cont_titulo{
    display: flex;
    justify-content: center;
    padding: 30px;
}
#titulo{
    position: relative;
    width: 16vw;
}

 
  #btn_add{
    display: none;
  }
  /* modal */

  #cont_ventana_modal{
    height: auto;
  }
  @media (max-width: 576px) {
    #abrirModal{
      position: relative;
      left: 150px !important;
      top: 170px;
      position: fixed;
    }
  }
  @media (max-width: 374px) {
    #abrirModal{
      position: relative;
      left: 190px !important;
      top: 200px;
    }
  }
  
#ventanaModal {
    display: none; /* Por defecto, estará oculto */
    position: fixed; /* Posición fija */
    z-index: 1; /* Se situará por encima de otros elementos de la página*/
    padding-top: 200px; /* El contenido estará situado a 200px de la parte superior */
    left: 0;
    top: 0;
    width: 100%; /* Ancho completo */
    height: 100%; /* Algura completa */
    overflow: auto; /* Se activará el scroll si es necesario */
    background-color: rgba(0,0,0,0.5); /* Color negro con opacidad del 50% */
  }
  
  /* Ventana o caja modal */
  .contenido-modal {
    position: relative; /* Relativo con respecto al contenedor -modal- */
    background-color: white;
    margin: auto; /* Centrada */
    padding: 20px;
    width: 60%;
    -webkit-animation-name: animarsuperior;
    -webkit-animation-duration: 0.5s;
    animation-name: animarsuperior;
    animation-duration: 0.5s
  }
  
  /* Animación */
  @-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
  }
  
  @keyframes animarsuperior {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
  }

  #abrirModal{
    position: fixed;
    top: 30px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    transition: all 0.2s ease;
    background-color: #28a745;
  }
  #abrirModal:hover{
    background: #67ff8a;
    color: #000 ;
  }
   /* Botón cerrar */
   .close {
    color: black;
    float: right;
    font-size: 30px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }